:root{
    --border-color: rgba(17, 0, 250, 0.774); 
    --number-color: rgb(255, 0, 0);
    --size: 1.4;
}

body{
    margin: 0;
    background: black;
}

h1{
    color:rgb(132, 0, 255);
    justify-content: center;
    font-size: calc(var(--size) * 2.65rem);
    margin-bottom: calc(var(--size) * 3rem);
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button{
    margin: calc(var(--size) * 0.188rem);
    width: calc(var(--size) * 5.5rem);
    height: calc(var(--size) * 4rem);
    font-size: calc(var(--size) * 1.5rem);
    border: var(--border-color) solid;
    border-radius: calc(var(--size) * 2.3rem);
    background: black;
    color: var(--number-color);
    transition: transform 0.2s;
}

button:hover{
    color: rgb(0, 247, 255);
    transform: scale(0.95);
}

#calculator{
    border: var(--border-color) solid thick;
}

#display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: calc(var(--size) * 24rem);
    height: calc(var(--size) * 7rem);
    font-size: calc(var(--size) * 3.2rem);
    border-bottom: var(--border-color) solid thick;
    background: black;
    color: rgb(255 59 221);
}

#btn-container{
    display: flex;
    max-height: calc(var(--size) * 22rem);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: calc(var(--size) * 0.25rem);
}

.btn-large{
    height: calc(var(--size) * 8.4rem);
}
